@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Not Found - Sinerrjinet Stok Takip</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/errorpage/css/style.css" />
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            <h1>404</h1>
            <h2>Hata! Sayfa Bulunamadı</h2>
            <p>Üzgünüz, aradığınız sayfa kaldırılmış veya değiştirilmiş olabilir. Ana sayfaya dönmek ister misiniz?</p>
            <a href="/Dashboard">Anasayfaya Git</a>
        </div>
    </div>

</body>
</html>
